<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tugas Component</title>
    <style>
      form {
        border: 1px solid #ddd;
        padding: 5px;
        width: 225px;
        background-color: #efefef;
      }
      label {
        display: block;
        margin-top: 5px;
      }
      input,
      textarea,
      select,
      option {
        min-width: 200px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <form @submit="submitForm($event)">
        <div v-if="errors.length">
          <b>silahkan koreksi error di bawah ini</b>
          <ul>
            <li v-for="error in errors">{{error}}</li>
          </ul>
        </div>

        <label>Name</label>
        <input :disabled="buttonStatus == 'upload'" type="text" name="name" ref="name" v-model="name" />
        <label>Nomer Hp</label>
        <input :disabled="buttonStatus == 'upload'" type="number" name="no" ref="no" v-model="no" />
        <label>Address</label>
        <textarea :disabled="buttonStatus == 'upload'" ref="address" name="address" v-model="address"></textarea>

        <div v-if="buttonStatus == 'submit'">
          <input type="submit" value="submit" />
        </div>
        <div v-else-if="buttonStatus == 'update'">
          <input type="button" value="update" @click="updateMember(idEditMember)" />
          <input type="button" value="cancel" @click="cancelForm" style="margin-top: 5px" />
        </div>
        <div v-if="buttonStatus == 'upload'">
          <input type="file" name="photo" ref="photo" />
          <input type="button" @click="submitPhoto(idUploadMember)" value="upload" style="margin: 5px 0" />
          <input type="button" value="cancel" @click="cancelForm" />
        </div>
      </form>

      <member-component @upload="uploadPhoto($event)" @remove="removeMember($event)" @edit="editMember($event)" :member="members" :domain="photoDomain"></member-component>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      const MembersComponent = {
        template: `
        <table border="1">
        <tr v-for="item in member">
          <td>
            <img width="100" :src="item.photo_profile ? domain + item.photo_profile : 'https://dummyimage.com/600x400/000/fff'" alt="gambar" />
          </td>
          <td>
            <b>Name: </b>{{item.name}} <br />
            <b>Address: </b>{{item.address}} <br />
            <b>No hp: </b>{{item.no_hp}} <br />
          </td>
          <td>
            <button @click="$emit('edit', item)">Edit</button>
            <button @click="$emit('remove', item.id)">Hapus</button>
            <button @click="$emit('upload', item)">Upload Foto</button>
          </td>     
        </tr>
        </table>
        `,
        props: ["member", "domain"],
      };
      let vm = new Vue({
        el: "#app",
        components: {
          "member-component": MembersComponent,
        },
        data: {
          name: "",
          address: "",
          no: "",
          errors: [],
          members: [],
          photoDomain: "https://demo-api-vue.sanbercloud.com",
          buttonStatus: "submit",
          idEditMember: null,
          idUploadMember: null,
        },
        methods: {
          validationForm: function () {
            this.errors = [];

            if (this.name.length < 5) {
              this.errors.push("name minimal 5 karakter");
              this.$refs.name.focus();
            }

            if (this.no.length > 12) {
              this.errors.push("nomor hp tidak boleh dari 12 karakter");
              this.$refs.no.focus();
            }

            if (this.address.length > 40) {
              this.errors.push("address tidak boleh dari 40 karakter");
              this.$refs.address.focus();
            }
          },

          clearForm: function () {
            this.name = "";
            this.address = "";
            this.no = "";
          },

          submitForm: function (event) {
            event.preventDefault();
            this.validationForm();

            if (this.errors.length === 0) {
              let formData = new FormData();
              formData.append("name", this.name);
              formData.append("address", this.address);
              formData.append("no_hp", this.no);

              const config = {
                method: "post",
                url: "http://demo-api-vue.sanbercloud.com/api/member",
                data: formData,
              };
              axios(config)
                .then((response) => {
                  this.clearForm();
                  this.getMember();
                  console.log(response.data);
                  alert(response.data.message);
                })
                .catch((error) => {
                  console.log(error);
                });
            }
          },
          getMember: function () {
            const config = {
              method: "get",
              url: "http://demo-api-vue.sanbercloud.com/api/member",
            };
            axios(config)
              .then((response) => {
                this.members = response.data.members;
                console.log(response);
              })
              .catch((error) => {
                console.log(error);
              });
          },
          removeMember: function (id) {
            const config = {
              method: "post",
              url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
              params: { _method: "DELETE" },
            };

            axios(config)
              .then((response) => {
                console.log(response);
                this.getMember();
                alert(response.data.message);
              })
              .catch((error) => {
                console.log(error);
              });
          },
          editMember: function (member) {
            this.name = member.name;
            this.address = member.address;
            this.no = member.no_hp;
            this.buttonStatus = "update";
            this.idEditMember = member.id;
          },
          cancelForm: function () {
            this.name = "";
            this.address = "";
            this.no = "";
            this.buttonStatus = "submit";
            this.idEditMember = null;
            this.idUploadMember = null;
          },
          updateMember: function (id) {
            this.validationForm();

            if (this.errors.length === 0) {
              let formData = new FormData();
              formData.append("name", this.name);
              formData.append("address", this.address);
              formData.append("no_hp", this.no);

              const config = {
                method: "post",
                url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                params: { _method: "PUT" },
                data: formData,
              };

              axios(config)
                .then((response) => {
                  this.cancelForm();
                  this.getMember();
                  alert(response.data.message);
                })
                .catch((error) => {
                  console.log(error);
                });
            }
          },
          uploadPhoto: function (member) {
            this.name = member.name;
            this.address = member.address;
            this.no = member.no_hp;
            this.buttonStatus = "upload";
            this.idUploadMember = member.id;
          },
          submitPhoto: function (id) {
            let file = this.$refs.photo.files[0];

            let formData = new FormData();
            formData.append("photo_profile", file);

            const config = {
              method: "post",
              url: `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
              data: formData,
            };

            axios(config)
              .then((response) => {
                this.cancelForm();
                this.getMember();
                alert(response.data.message);
              })
              .catch((error) => {
                console.log(error);
              });
          },
        },
        created() {
          this.getMember();
        },
      });
    </script>
  </body>
</html>