* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.container {
    display: flex;
    background-color: rgba(3, 46, 82, 0.1);
    justify-content: center;
    padding-top: 50px;
    height: 100vh;
}

.card {
    background-color: white;
    border-radius: .75rem;
    box-shadow: -1px 4px 5px -3px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 4px 5px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 4px 5px -3px rgba(0,0,0,0.75);
    width: 700px;
    height: 360px;
    padding: 20px;
}

.card_main {
    margin: 10px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.card_profile {
    text-align: center;
}

.card_username {
    font-size: 170%;
    color: rgb(38, 38, 116);
}

.card_job {
    font-size: 110%;
    margin-top: -7%;
    color: rgb(69, 69, 163);
}

.card_image {
    width: 220px;
    height: 200px;
}

.title {
    text-align: center;
    margin-top: 2px;
    color: rgb(38, 38, 116);
}

.card_detail {
    margin-left: 25px;
    justify-content: center;
}

.social_title {
    text-align: center;
    margin-top: 33px;
    color: rgb(69, 69, 163);
}

.social {
    display: flex;
    gap: 15px;
    text-align: center;
    margin-top: -10px;
    margin-left: 2px;
    justify-content: center;
}

.github_logo {
    width: 30px;
}

.instagram_logo {
    width: 30px;
}

.gitlab_logo {
    width: 30px;
}

.social_name {
    font-size: 10px;
}
