<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <input type="text" v-model="search" placeholder="search books" />
      <ul v-for="book in filteredBook" class="single-blog">
        <li>{{ book }}</li>
      </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          books: ["Kalkulus Dasar", "Fisika Dasar", "Aljabar Linear Elementer", "Aljabar Abstrak", "Algoritma Pemograman"],
          search: "",
        },
        computed: {
          filteredBook: function () {
            return this.books.filter((book) => {
              return book.toLowerCase().includes(this.search.toLowerCase());
            });
          },
        },
        methods: {},
      });
    </script>
  </body>
</html>